{
  "extends": [
    "plugin:vue/vue3-essential",
    "eslint:recommended",
    "@vue/prettier"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "prettier/prettier": "error",
    "vue/no-multiple-template-root": "off"
  }
}
